@charset "utf-8";

/**
 * style.css
 *
 * This program is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option) any
 * later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see http://gnu.org/licenses/lgpl.txt.
 *
 * @project      A simple chat client based on the WebSocket protocol.
 * @version      0.1.0-beta
 * @package      xhtml-css
 * @author       Florian Wolters <florian.wolters.85@googlemail.com>
 * @author       Steffen Schütte <parvus23@googlemail.com>
 * @copyright    2012 Florian Wolters, Steffen Schütte
 * @cssdoc       version 1.0-pre
 * @license      http://gnu.org/licenses/lgpl.txt GNU LGPL
 * @media        all
 * @valid        true
 */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 800px;
}

/* Site header */

body > header {
    font-weight: bold;
    margin-bottom: 1em;
}

/* Site footer */

body > footer {
    overflow: hidden;
    margin-top: 2em;
    border-top: 0.2em solid #CCCCCC;
    font-size: 90%;
    color: #CCCCCC;
    background-color: inherit;
}

/* Site main content */

[role="main"] {
    border: .2em solid black;
    border-radius: 6px;
    padding: 10px;
}

#chatlog {
    list-style-type: none;
    padding: 0.5em;
    border: 1px solid black;
}

/* Chat log */

#chatlog .uid {
    font-weight: bold;
    background-color: inherit;
    color: gray;
}

#chatlog .ts {
    background-color: inherit;
    color: green;
    font-size: 75%;
}

#chatlog .notice {
    background-color: inherit;
    color: green;
}

#chatlog .warning {
    font-weight: bold;
    background-color: inherit;
    color: orange;
}

#chatlog .error {
    font-weight: bold;
    background-color: inherit;
    color: red;
}

#chatlog .open {
    font-style: oblique;
    background-color: inherit;
    color: brown;
}

#chatlog .close {
    font-style: oblique;
    background-color: inherit;
    color: blue;
}
